.faq-container {
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: start;
}

.accordion {
  width: 80%;
  margin: auto;
  max-width: 1000px;
}

.accordion-button {
  font-weight: 600;
  font-size: larger;
  background-color: #c6c6fb !important;
}

.accordion-body {
  background-color: #f4f4ff;
}

.accordion-button:focus {
  box-shadow: none !important;
  color: #000000 !important;
}

h1 {
  text-align: center;
  background-color: #8a89c0;
  padding: 25px;
  margin-bottom: 20px;
}

.examples {
  display: flex;
  justify-content: space-evenly;
  margin: 20px auto;
}

.color {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  box-shadow: 0px 0px 5px #434343;
}

#col1 {
  background-color: #003300;
}
#col2 {
  background-color: #008800;
}
#col3 {
  background-color: #00ff00;
}

.close-btn {
  background-color: #46457d;
  border: 2px solid #434343;
  border-radius: 10px;
  padding: 11px 35px;
  color: white;
  font-size: 15px;
  box-shadow: 0px 0px 4px 0px #5c5c6d;
  display: flex;
  justify-self: center;
  margin: 20px auto;
}

a {
  text-decoration: none !important;
}

/* Dark Theme */

.dark-theme {
  background-color: #454553;
  color: #000000;
}

.dark-theme .close-btn {
  background-color: #8a89c0;
  color: rgb(0, 0, 0);
  font-weight: 700;
  box-shadow: 0px 0px 14px 3px #5c5c6d;
  border: 2px solid #a9a8ec;
}

.dark-theme h1 {
  color: #eaeaea;
  background-color: #2b2b34;
}

.dark-theme .accordion-body {
  background-color: #2b2b34;
  color: white;
}

.dark-theme .accordion-button {
  background-color: #8483b0 !important;
}
